CompileFlags:
  Add: [-std=c99, -Weverything]
Diagnostics:
  Suppress:
    [
      cast-qual,
      covered-switch-default,
      declaration-after-statement,
      empty-translation-unit,
      initializer-overrides,
      missing-prototypes,
      padded,
      sign-conversion,
      unsafe-buffer-usage,
      unused-includes,
      unused-macros
    ]
