CompileFlags:
  Add: [-std=c17, -Weverything]
Diagnostics:
  Suppress:
    [
      missing-prototypes,
      empty-translation-unit,
      cast-qual,
      unused-includes,
      padded,
      unsafe-buffer-usage,
    ]
