# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: 0 0 * * *

permissions:
  contents: read

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - uses: actions/stale@5f858e3efba33a5ca4407a664cc011ad407f2008 # v10.1.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue will be automatically closed in a week because it has been inactive for more than 7 days. Please send a message if this issue is still unresolved.'
        stale-issue-label: stale
        stale-pr-message: 'This pull-request will be automatically closed in a week because it has been inactive for more than 7 days. Please send a message if you still intend to submit this pull-request.'
        stale-pr-label: stale
        days-before-stale: 7
        days-before-close: 7
        exempt-issue-labels: 'keep-open'
